<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="example-card">
   <mat-card style="height: 130px">
      <div style="font-size: 20px;margin-top: 0px"><b>Who to follow</b>
        <button  style="background: white;color: dodgerblue;font-size: 12px;border: none">. Refresh .</button>
        <button style="background: white;color: dodgerblue;font-size: 12px;border: none">View all</button>
        </div>

    <mat-list>
    <mat-list-item> 
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title style="margin-top: 18px;margin-left: 5px"><b>Trainer Name</b>
               <span style="margin-left: 10px;font-size: 12px;color: grey"><i class="fa fa-arrow-right" style="color:dodgerblue;font-size: 15px;margin-right:5px"></i>@username .</span>
              </mat-card-title>
          </mat-list-item>
   </mat-list>

   <button style="background: white;font-size: 15px;text-align: left;border-radius: 10%; border-color: dodgerblue; margin-left: 60px"><b>Follow</b></button>
  </mat-card>
</div>
