<div class="example-card">
   <mat-card style="height: 330px">
      <div style="font-size: 20px;margin-left: 10px;margin-top: 0px"><b>Offers for you.</b>
        <button mat-button style="background: white;color: dodgerblue;font-size: 15px">Change</button>
        </div>
    <mat-card-header style="margin-bottom: 5px;margin-top: 2px;">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="margin-top: 8px"><b>Gym Name</b>
         <span style="margin-left: 10px;font-size: 12px;color: grey"><i class="fa fa-arrow-right" style="color:dodgerblue;font-size: 15px;margin-right:5px"></i>@username .</span>
         <span style="font-size: 12px;color: grey;">2h</span>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image style="height: 100px;width: 250px; margin-left: 0px" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <p style="font-size: 10px;margin-bottom: 0px">
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <div style="margin-top: 5px">
      <button style="background: white;font-size: 10px;text-align: left;border: none"><i class="fa fa-thumbs-o-up" style="color:dodgerblue;font-size: 10px;margin-right:3px"></i><b>Like</b></button>
      <button style="background: white;font-size: 10px;margin-left: 25px;border: none"><i class="fa fa-comment" style="color:dodgerblue;font-size: 10px;margin-right:3px"></i><b>Comment</b></button>
      <button style="background: white;margin-left: 0px;font-size: 10px;margin-left: 25px;border: none"><i class="fa fa-share" style="color:dodgerblue;font-size: 10px;"></i><b>Share</b></button>
    </div>

    </mat-card>
</div>

