<nav class="navbar navbar-expand-lg fixed-top  bg-dark text-white " style="color: #ffffff;">
  <button class="navbar-toggler" style="color: white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-white" id="navbarSupportedContent" style="margin-left: 60px">
    <ul class="navbar-nav mr-auto">
        <i class="fa fa-home" style="color:white;font-size: 20px;margin-right:2px;margin-top: 10px"></i>
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['home/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <i class="fa fa-calendar-plus-o" style="color:white;font-size: 15px;margin:12px 0px 0px 5px"></i>

      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/display']">Activites</a>
      </li>
      <i class="fa fa-bell" style="color:white;font-size: 15px;margin:12px 0px 0px 5px"></i>
      <li class="nav-item">
        <a class="nav-link" href="#">Notification</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" style="margin-right: 60px">
      <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>